* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1040px;
}

/*header*/
.header {
  max-width: 1440px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  background: #007765;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
}

.navbar__menu-item:nth-child(2) {
  border-left: 1px white solid;
  border-right: 1px white solid;
}

.navbar__menu-item {
  padding: 0 20px;
  cursor: pointer;
}

.logo {
  padding: 15px 0;
  cursor: pointer;
}

/*jumbotron*/

.jumbotron {
  background: url(../images/jum-image.png);
  max-width: 1440px;
}

.jumbotron-header {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: white;
  padding: 100px 0;
}

/*problem*/

.problem {
  max-width: 1440px;
  background: #eeeeee;
  padding-bottom: 100px;
}
.problem-header {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #007765;
  padding: 50px 0;
}

.problem-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

/*hero*/

.hero {
  max-width: 1440px;
  background: url(../images/hero.png);
}

.hero-desc {
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  padding: 100px 0;
  max-width: 893px;
}

/*PPC*/
.ppc {
  padding-top: 50px;
  padding-bottom: 100px;
}
.ppc-header {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}

.ppc-text {
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  padding-top: 40px;
}

.ppc-intro {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ppc-desc {
  padding-left: 50px;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}
/*team*/

.team {
  max-width: 1440px;
  background: #eeeeee;
}

.team-header {
  padding-top: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}

.team__members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px 0;
}

.team-member {
  padding: 50px;
}

.member-name {
  padding-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
  text-align: center;
}

.member-role {
  padding-top: 5px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

/*footer*/

.copyright {
  text-align: center;
  padding: 50px 0;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  max-width: 540px;
}

.footer {
  max-width: 1440px;
  background: #333333;
}

@media (max-width: 690px) {
  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 510px) {
  .navbar__menu {
    flex-direction: column;
  }
  .navbar__menu-item:nth-child(2) {
    border-left: none;
    border-right: none;
  }
  .navbar__menu-item {
    padding: 5px 0;
  }
}
